html,
body,
#root {
  height: 100%;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;

  overflow-x: hidden;
}

@font-face {
  font-family: 'TmonMonsori';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gmarket';
  src: url('../font/GmarketSansTTFLight.ttf') format('truetype');
}

@font-face {
  font-family: 'GmarketMedium';
  src: url('../font/GmarketSansTTFMedium.ttf') format('truetype');
}


/* body  */

.Home-body {
  flex: 1 1 auto;
  background-image: url('../images/back_img_big.png');
  background-repeat: no-repeat;
  background-position: center top;
}

.Home-body-title {
  width: 900px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;

  font-family: 'TmonMonsori';
  color: white;
}

.Home-body-title p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.title {
  font-size: 55px;
}

.title_big{
  font-size: 145px;
}

.title_attach{
  font-size: 25px;
}

.Home-body-content {
  margin-top: 100px;

  width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;

}

.cntbox {
  background-color:rgb(245, 245, 245);
  margin-bottom: 50px;

  display: flex;
  flex-direction: row;

  height: 360px;
}

.cntbox-reverse {
  background-color: rgb(245, 245, 245);
  margin-bottom: 50px;

  display: flex;
  flex-direction: row-reverse;
  height: 360px;
}

.cntbox-img {
  height: 360px;
  width: 466px;
}

.cntbox-img img{
  height: 100%;
  width: 466px;
}

.cntbox-text {
  margin: 13px;
  width: 100%;
  background-color: white;
}
.cntbox-text p {
  margin-left: 30px;
  margin-right: 15px;
}
.cntbox-title {
  font-size: 30px;
  font-family: 'TmonMonsori';
  color: black;
}

.cntbox-cnt {
  padding-left: 30px;
  font-size: 17px;
  font-family: 'Gmarket';
  color: black;
}

.cntbox-cnt p {
  margin-left: 0px;
}

.cntbox-cnt > button {
  margin-left: auto;
  margin-right: auto;

  font-size: 20px;
  font-family: 'TmonMonsori';
  color: white;
  background: cornflowerblue;
  border: 0px;

  width: 333px;
  height: 43px;

  
}

.font-Gmarket {
  font-family: 'Gmarket';
}
