html,
body,
#root {
  height: 100%;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 10vmin;
}

.App-header {
  padding: 20px;
  flex: 0 0 auto;
  background-color: yellowgreen;
}

.App-body {
  padding: 20px;
  flex: 1 1 auto;
}

.App-footer {
  padding: 20px;
  flex: 0 0 auto;
  background-color: gray;
}

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
