html,
body,
#root {
  height: 100%;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.App-header {
  flex: 0 0 auto;

  display: flex;
  width: 900px;
  height: 90px;
  margin: 0 auto;

  padding-bottom: 10px;
}

.illi_logo {
  width: 180px;
  height: 45px;
  margin-top: auto;
}
.Header-nav {
  margin-left: auto;
  margin-top: auto;
}

.Header-nav ul {
  display: inline-flex;
  flex-direction: row;

  margin-bottom: 0px;
}

.Header-nav li {
  flex: 0 0 auto;
  list-style: none;
  margin-right: 20px;
  margin-bottom: 5px;
}

.App-body {
  flex: 1 1 auto;
}

.Body-header {
  overflow: hidden;
}

.Body-title {
  bottom: 100px;

  margin-left: auto;
  margin-right: auto;
}

.Body-content {

  width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
  background-color: #ebebeb;
}

.App-footer {
  flex: 0 0 auto;
  background-color: #c8c8c8;
  margin-top: auto;
  padding: 20px;
  padding-left: 60px;
  padding-right: 60px;
}

.footer-layout {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 800px;
}

.footer-text {
  display: inline-block;
  margin-right: auto;

  font-size: 14px;
}

.footer-image {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.footer-image a img {
  width: 60px;
  height: 60px;
  margin-right: 15px;
}

.App-footer p {
  margin: 2px;
}

.footer-image a {
  text-decoration: none;
  outline: none;
  color: black;
}

.footer-image img {
  width: 400px;
  height: 100px;
}

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
