.App {
  display: flex;
  flex-direction: column;
}
.App-logo {
  height: 10vmin;
}

.App-header {
  background-color: yellowgreen;
  display: flex;
  flex-direction: row;
  flex: 1;
}
.App-header .logo-header {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.App-header .others-header {
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
}

.App-body {
  background-color: darksalmon;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex: 8;
}

.App-footer {
  background-color: gray;
  flex: 1;
}

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
